<main>
  <form [formGroup]="form">
    <h1>Account</h1>
      <mat-form-field appearance="outline" color="primary">
        <mat-label >Email</mat-label>
        <input type="email" matInput placeholder="Ex: pat@example.com" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline"  color="primary">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <div class="aligned-to-right"> 
        <button mat-button class="recoverP" test-id="recover-password-button" [disabled]="!form.get('email')!.valid">Recover password</button>
      </div>
      <button mat-raised-button color="primary" [disabled]="!form!.valid">Login</button>
      <button mat-stroked-button color="primary">Register</button>
    </form>
</main>  